/* COMMON */

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

/* VARIABLES */
:root {
    /* colors */
    --ms_bg-new-release: #1f1f1f;
    --ms_bg-play-plus: #bebcbb;
    --ms_bg-play-now: #161c3b;
    --ms_bg-footer: #00439c;
    /* colors buttons */
    --ms_btn-dark: #363636;
    --ms_btn-blue: #2d64e6;
    --ms_btn-red: #cd3d0f;
    --ms_btn-gray: #d9dadc;
    --ms_btn-light: #f5f5f5;
    
}

/* Buttons */

.ms_btn {
    border-radius: 18px;
    color: white;
    font-size: 1.4rem;
}

.ms_btn-dark {
    background-color: var(--ms_btn-dark);
    border: 1px solid var(--ms_btn-dark);
}

.ms_btn-blue {
    background-color: var(--ms_btn-blue);
    border: 1px solid var(--ms_btn-blue);
}

.ms_btn-red {
    background-color: var(--ms_btn-red);
    border: 1px solid var(--ms_btn-red);
}

.ms_btn-gray {
    font-size: 1.4rem;
    color: var(--ms_btn-blue);
    background-color: var(--ms_btn-gray);
    border: 1px solid var(--ms_btn-gray);
    border-radius: 18px;
}

.ms_btn-light {
    font-size: 1.4rem;
    color: black;
    background-color: var(--ms_btn-light);
    border: 1px solid var(--ms_btn-light);
    border-radius: 18px;
}

/* Utilities */
/* p */
.ms_size-p {
    font-size: 1.6rem;
}
.ms_size-p-s {
    font-size: 1.2rem;
}
.ms_gray-p {
    color: #727272;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* header-top */
.ms_header-top {
    background-color: black;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
}

.ms_header-top img {
    width: 100px;
}

/* header-nav */

.ms_header-nav li {
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: .5em;
}

/* icon-nav-list */
li .fa-chevron-down:before {
    color: gray;
    font-size: 1rem;
}

/* nav dx */
/* icon */
.fa-magnifying-glass:before, .fa-search:before {
    color: var(--ms_btn-dark);
}

/* JUMBO */

#ms_jumbotron {
    color: white;
    padding-top: 25rem;
    padding-bottom: 3rem;
    margin-top: 100px;
    background-size: cover;
    background-position: center;
}

.ms_bg-jumbo {
    background-image: url(../img/jumbo-bg.png);
}

/* MAIN */

/* games-section */

.ms_game-card img:hover {
    border: 2px solid var(--ms_btn-blue);
    padding: .5em;
}

/* hardware section - play-5  */

.ms_hard-play-5 h4 {
    color:#0072ce;
}

.ms_hard-play-5 .card {
    border: none;
    border-radius: 0;
}

.ms_hard-play-5 .card:active {
    border-bottom: 2px solid var(--ms_btn-blue);
}

/* banner game it takes two */

#ms_banner { 
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 4rem 0;
}

/* new-releases */
.ms_new-releases {
    background-color: var(--ms_bg-new-release);
    color: white;
}

/* card */
.ms_new-releases .card {
    border: none;
    background-color: var(--ms_bg-new-release);
}

.ms_new-releases .card-body {
    background-color: var(--ms_bg-new-release);
    color: white;
}

/* hardware section - play-4  */

.ms_hard-play-4 .card {
    border: none;
}

/* playstation-plus-banner */

.ms_play-bnr {

}

.ms_play-bnr-plus {
    background-color: var(--ms_bg-play-plus);
}

/* playstation-plus-now */

.ms_play-bnr-now {
    background-color: var(--ms_bg-play-now);
    color: white;
}

/* FOOTER */
footer {
    background-color: var(--ms_bg-footer);
}

/* footer-top */
.ms_footer-top {
    min-height: 500px;
    color: white;
    /* DEBUG */
    border: 1px solid white;
}

/* footer-bottom */
.ms_footer-bottom {
    height: 200px;
    color: white;
    /* DEBUG */
    border: 1px solid white;
}

.ms_footer-bottom img{
    width: 15%;
}