/* COMMON */

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

/* VARIABLES */
:root {
    /* colors */
    --ms_bg-new-release: #1f1f1f;
    --ms_bg-play-plus: #bebcbb;
    --ms_bg-play-now: #161c3b;
    /* colors buttons */
    --ms_btn-dark: #363636;
    --ms_btn-light: #f5f5f5;
    --ms_btn-blue: #2d64e6;
    --ms_btn-red: #cd3d0f;
}

/* HEADER */

.header-top {
    background-color: black;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /* DEBUG */
    color: white;
}

/* JUMBO */

#ms_jumbotron {
    color: white;
    /* DEBUG */
    height: 500px;
    background-color: grey;
}

/* MAIN */

/* banner game section */

#ms_banner { 
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    color: white;
    /* DEBUG */
    background-color: #bebcbb;
}

/* new-releases */
#ms_new-releases {
    background-color: var(--ms_bg-new-release);
}

/* playstation-plus */

.ms_play-bnr {

}

.ms_play-bnr.plus {
    background-color: var(--ms_bg-play-plus)
}